
<%= form_for [ @article, @comment ] do |f| %>
  <p>
    <%= f.label :author , "Yor name" %><br/>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>