<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= link_to "Delete this Article", article_path(@article), method: :delete, data: {confirm: "really delete this article?"} %>
<%= link_to "Back to articles list" , articles_path  %>
<%= link_to "Edit this article", edit_article_path(@article) %>

<%= flash.notice %>