<h1><%= @article.title %></h1>

<p><%= image_tag @article.image.url %></p>

<p><%= @article.body %></p>
<%= link_to "Delete this Article", article_path(@article), method: :delete, data: {confirm: "really delete this article?"} %>
<%= link_to "Back to articles list" , articles_path  %>
<%= link_to "Edit this article", edit_article_path(@article) %>

<%= flash.notice %>

<h3>Comments(<%=@article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<h3>Tags list</h3>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%=link_to tag.name, tag_path(tag) %>
  <% end %>

<h3>Post a Comment</h3>

<%= render partial: 'comments/form' %>


